@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&family=Noto+Sans+KR:wght@100;400;700&display=swap");

/*  font-family: 'Montserrat', sans-serif; 
200 400 600
font-family: 'Noto Sans KR', sans-serif;
100 400 700 */

/*  CSS Transition Only After Onload */

.preload {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

/* Default */
body {
  font-family: "Montserrat", sans-serif;
  /* cursor: url(../img/cursor.png), default; */
}

#wrap {
  position: relative;
  overflow: hidden;
}

#wrap > .mouse_move {
  position: absolute;
  user-select: none;
  pointer-events: none;
  font-size: 1.4rem;
  font-weight: bold;
  animation: text_move 8s linear infinite;
  z-index: 1000;
}

@keyframes text_move {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
}

#wrap > .mouse_move mark {
  display: inline-block;
  top: -80px;
  position: absolute;
  text-transform: uppercase;
  transform-origin: 0 80px;
  background-color: transparent;
  color: #1e90ff;
}

#wrap > div {
  text-align: center;
  margin: 30px auto;
}

.video {
  position: relative;
}

/* gnb10 */

#gnb10 {
  color: #333;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  width: 20%;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
}

#gnb10 ul {
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
  /*   border: 1px solid #000; */
  box-sizing: border-box;
  overflow: hidden;
}
#gnb10 ul li {
  height: 50px;
  margin-bottom: 50px;
  /*   border: 1px solid #000; */
}
#gnb10 ul li:first-child {
  animation: slidetext 3s linear infinite;
}
#gnb10 ul li a {
  color: #fff;
  padding: 0px 15px;
  display: inline-block;
}
#gnb10 ul li:nth-child(1) a {
  background-color: #1e90ff;
}
#gnb10 ul li:nth-child(2) a {
  background-color: #1e75cc;
}
#gnb10 ul li:nth-child(3) a {
  background-color: #1460ac;
}

@keyframes slidetext {
  0% {
    margin-top: -300px;
  }
  5% {
    margin-top: -200px;
  }
  33% {
    margin-top: -200px;
  }
  38% {
    margin-top: -100px;
  }
  66% {
    margin-top: -100px;
  }
  71% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}
.img_box {
  width: 90%;
  margin: 5% auto;
}
.img_box .pic {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
}

.img_box p {
  font-size: 4rem;
  font-weight: bold;
  margin-top: 10px;
  line-height: 1.5;
  color: #333;
  text-align: center;
}

.img_box img {
  width: 18%;
  height: auto;
  margin: 10px;
  border: 1px solid #1e90ff;
}

/* gnb17 */

#gnb17 h2 {
  text-align: center;
  font-size: 10rem;
  color: #fff;
  line-height: 1.2;
  text-shadow: 2px 0 0 #1e90ff, 0 2px 0 #1e90ff, -2px 0 #1e90ff,
    0 -2px 0 #1e90ff, -2px -2px #1e90ff, 2px 2px 0 #1e90ff, 2px -2px 0 #1e90ff,
    -2px 2px 0 #1e90ff;
}

/* gnb22 */

#gnb22 {
  width: 100%;
  height: 500px;
  background: #1e90ff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: skew(0deg, -5deg);
  position: relative;
  top: 0;
  left: 0;
  z-index: 888;
  opacity: 0;
  transition: 1s;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    opacity: 0;
    -webkit-transform: skew(0deg, -5deg) scale(0.5);
    transform: skew(0deg, -5deg) scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: skew(0deg, -5deg) scale(1);
    transform: skew(0deg, -5deg) scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    opacity: 0;
    -webkit-transform: skew(0deg, -5deg) scale(0.5);
    transform: skew(0deg, -5deg) scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: skew(0deg, -5deg) scale(1);
    transform: skew(0deg, -5deg) scale(1);
  }
}
#gnb22 h1 {
  font-size: 5rem;
  color: #fff;
  line-height: 1.5;
}

/* gnb31 */

#gnb31 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
#gnb31 svg {
  width: 100px;
  height: 100px;
}

#gnb31 path.check_circle,
#gnb31 path.check_v {
  stroke-dashoffset: 500px;
  stroke-dasharray: 500px;
  animation-name: moveicon;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}
#gnb31 path.check_v {
  animation-delay: 1s;
}

@keyframes moveicon {
  to {
    stroke-dashoffset: 0;
  }
}

#gnb31 p {
  font-size: 10rem;
  font-weight: 600;
  color: #1e90ff;
  text-align: center;
}

footer {
  font-size: 2rem;
  padding: 50px;
  text-align: center;
  color: #aaa;
}
