/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  border: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

input {
  outline: none;
}
